@model COACHME.MODEL.CUSTOM_MODELS.REGISTER_MODEL
@{
    ViewBag.Title = "Register new Account";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/Content/css/bootstrap-social.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Kanit|Mitr" rel="stylesheet">
    <script src="~/Scripts/loadingoverlay.min.js"></script>
    <style>
        body, .btn, .btn.m-btn--custom {
            font-family: 'Kanit', sans-serif;
        }

        * {
            font-family: 'Kanit', sans-serif;
        }
    </style>

</head>
<div class="m-grid m-grid--hor m-grid--root m-page">

    <script>

        var logout = false;
        var bFbStatus = false;

        var fbID = "";
        var fbName = "";
        var fbEmail = "";
        var accessToken = "";
        var imagelink = "";
        var first_name = "";
        var last_name = "";
        var full_name = "";  

        window.fbAsyncInit = function () {  
            FB.init({
                appId: '2305099133080843',
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v3.2',
                cookie: true
            });


            FB.getLoginStatus(function (response) {
                if (response.status === 'connected') {
                    fbID = response.authResponse.userID;
                    accessToken = response.authResponse.accessToken;
                }
                else if (response.status === 'not_authorized') {

                } else {

                }
            });

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v3.2";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function fbLoginUser() {
            FB.login(function (response) {
                if (response.authResponse) {
                    console.log('Welcome!  Fetching your information.... ');
                    fbID = response.authResponse.userID;
                    accessToken = response.authResponse.accessToken;
                    getCurrentUserInfo();
                } else {
                    console.log('User cancelled login or did not fully authorize.');
                }
            });

        }

        function getCurrentUserInfo() {
            FB.api('/me?fields=name,email,first_name,last_name', 'get', { access_token: accessToken }, function (userInfo) {
                fbName = userInfo.name;
                fbEmail = userInfo.email;
                first_name = userInfo.first_name;
                last_name = userInfo.last_name;
                full_name = userInfo.name;

                FB.api('/me/picture?redirect=false', 'get', { access_token: accessToken, width: 1200, height: 1200 }, function (response) {
                    imagelink = response.data.url;
                });

                $.ajax({
                    type: "GET",
                    url: '@Url.Action("FacebookLogin", "MainHome")',
                    contentType: "application/json; charset=utf-8",
                    data: { ID: fbID, EMAIL: userInfo.email, NAME: userInfo.name },
                    dataType: "json",
                    success: function (response) {
                        if (response.STATUS == true) {
                            window.location.href = "/";
                        }
                        else {

                            var image = imagelink
                            $("#modalRegister").click();
                        }
                    }

                });
            })
        }


        function FacebookRegisterConfirm() {
            FB.getLoginStatus(function (response) {
                if (response.status === 'connected') {
                    fbID = response.authResponse.userID;
                    accessToken = response.authResponse.accessToken;
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("FacebookRegisterConfirm", "mainhome")',
                        contentType: "application/json; charset=utf-8",
                        data:
                        {
                            FULLNAME: full_name,
                            USER_NAME: fbID,
                            FIRST_NAME: first_name,
                            LAST_NAME: last_name,
                            ROLE_ID: $("#ROLE_FB:checked").val(),
                            GENDER: $("#SEX_FB:checked").val(),
                            IMAGE_URL: imagelink
                        },
                        dataType: "json",
                        success: function (response) {
                            debugger;
                            if (response.STATUS == true) {
                               
                                $.ajax({
                                    type: "GET",
                                    url: '@Url.Action("FacebookLogin", "MainHome")',
                                    contentType: "application/json; charset=utf-8",
                                    data: { ID: fbID, EMAIL: fbEmail, NAME: full_name },
                                    dataType: "json",
                                    success: function (response) {
                                        if (response.STATUS == true) {
                                            window.location.href = "/";
                                        }

                                    }

                                });
                            }
                        }
                    });
                }
            });
        }

    </script>

    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2" id="m_login" style="background-image: url(../../Content/images/bg-3.jpg);">
        <div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
            <div class="m-login__container">
                @*<div class="m-login__logo">
                        <a href="#">
                            <img src="~/Content/images/login/login_logo.png">
                        </a>
                    </div>*@
                @{
                    Html.RenderPartial("_LogoPartial");
                }
                <!--Start SignUp -->
                <div class="m-login__signin">
                    @*m-login__signup">*@
                    <div class="m-login__head">
                        <h3 class="m-login__title">Register new Coach Me account</h3>
                        <div class="m-login__desc">Enter your details to create your account:</div>
                    </div>
                    @using (Html.BeginForm("register", "account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "m-login__form m-form" }))
                    {

                        @Html.AntiForgeryToken()

                        <div class="form-group m-form__group">
                            @if (!string.IsNullOrEmpty(ViewBag.Success))
                            {
                                <p>@ViewBag.Success<a href="@Url.Action("login", "account")" class="m-link">&nbsp; login.</a></p>
                            }
                            @if (!string.IsNullOrEmpty(ViewBag.Fail))
                            {
                                <p class="text-danger">@ViewBag.Fail<a href="@Url.Action("login", "account")" class="m-link">&nbsp; login.</a></p>
                            }
                            @if (!string.IsNullOrEmpty(ViewBag.ActiveFail))
                            {
                                <p class="text-danger">@ViewBag.ActiveFail<a href="@Url.Action("SendMailConfirm", "account",new {EMAIL = Model.EMAIL})" class="m-link">&nbsp; send mail.</a></p>
                            }
                            <input class="form-control m-input" type="text" placeholder="Fullname" name="FULLNAME">
                            @Html.ValidationMessageFor(m => m.FULLNAME, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group m-form__group">
                            <input class="form-control m-input" type="text" placeholder="Email" name="EMAIL" autocomplete="off">
                            @Html.ValidationMessageFor(m => m.EMAIL, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group m-form__group">
                            <input class="form-control m-input" type="password" placeholder="Password" name="PASSWORD">
                            @Html.ValidationMessageFor(m => m.PASSWORD, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group m-form__group">
                            <input class="form-control m-input m-login__form-input--last" type="password" placeholder="Confirm Password" name="CONFIRM_PASSWORD">
                            @Html.ValidationMessageFor(m => m.CONFIRM_PASSWORD, "", new { @class = "text-danger" })
                        </div>
                        <div class="row form-group m-form__group m-login__form-sub">
                            <div class="col m--align-left">
                                <label class="m-radio">
                                    @Html.RadioButtonFor(m => m.GENDER, "1", new { @id = "SEX", Checked = "checked" })Male
                                    <span></span>
                                </label>
                                <label class="m-radio" style="margin-left:20px">
                                    @Html.RadioButtonFor(m => m.GENDER, "2", new { @id = "SEX" })Female
                                    <span></span>
                                </label>
                                @*@Html.ValidationMessageFor(m => m.ROLE, "", new { @class = "text-danger" })*@
                            </div>
                        </div>
                        <div class="row form-group m-form__group m-login__form-sub">
                            <div class="col m--align-left">
                                <label class="m-radio">
                                    <input type="radio" name="ROLE" value="1" checked> Teacher
                                    <span></span>
                                </label>
                                <label class="m-radio" style="margin-left:20px">
                                    <input type="radio" name="ROLE" value="2"> Student
                                    <span></span>
                                </label>
                                @*@Html.ValidationMessageFor(m => m.ROLE, "", new { @class = "text-danger" })*@
                            </div>
                        </div>
                        <div class="row form-group m-form__group m-login__form-sub">
                            <div class="col m--align-left">
                                <label class="m-checkbox m-checkbox--focus">
                                    <input type="checkbox" name="Agree" value="true" /> I Agree the <a href="#" class="m-link m-link--focus">terms and conditions</a>
                                    @*@Html.CheckBoxFor(o => o.Agree, htmlAttributes: new { @checked = true }) I Agree the <a href="#" class="m-link m-link--focus">terms and conditions</a>.*@
                                    <span></span>
                                </label>
                                <span class="m-form__help"></span>
                                <br>@Html.ValidationMessageFor(m => m.AGREE, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="m-login__form-action">
                            <button type="submit" value="Save" name="buttonType" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn">Sign Up</button>&nbsp;&nbsp;

                            <a href="@Url.Action("login","account")" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom  m-login__btn">Cancel</a>
                            @*<button type="button" value="Cancel" name="buttonType" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom  m-login__btn">
                                Cancel</button>*@
                        </div>

                        <div class="m-login__form-action">
                            <h5>หรือสมัครใช้งาน CoachMe ด้วย Facebook</h5>
                            <button type="button" class="btn m-btn--pill btn-primary btn-block" style="background-color:#3b5998;" onclick="fbLoginUser()"><i class="fa fa-facebook-square"></i>&nbsp สมัครใช้งานด้วยเฟสบุ๊ค</button>                      
                        </div>
                    }

                </div>

                <!--End SignUp -->

            </div>
        </div>
    </div>
    <button type="button" class="btn btn-info btn-md" id="modalRegister" data-toggle="modal" data-target="#m_modal_3" data-backdrop="static" style="display:none"></button>
    <div class='modal fade' id='m_modal_3' tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' style='display: none;' aria-hidden='true'>
        <div class='modal-dialog modal-dialog-centered' role='document'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <h5 class='modal-title' id='exampleModalLongTitle'>สมัครสมาชิกด้วย facebook</h5>
                </div>
                <div class='modal-body'>
                    <div class="m-login__form m-form" method="post" novalidate="novalidate">

                        <div class="row form-group m-form__group m-login__form-sub">

                            <div class="col m--align-left">
                                <label class="m-radio">
                                    <input checked="checked" data-val="true" data-val-required="The GENDER field is required." id="SEX_FB" name="GENDER_FB" type="radio" value="1">ชาย
                                    <span></span>
                                </label>
                                <label class="m-radio" style="margin-left:20px">
                                    <input id="SEX_FB" name="GENDER_FB" type="radio" value="2">หญิง
                                    <span></span>
                                </label>

                            </div>
                        </div>
                        <div class="row form-group m-form__group m-login__form-sub">

                            <div class="col m--align-left">
                                <label class="m-radio">
                                    <input type="radio" id="ROLE_FB" name="ROLE_FB" value="1" checked> ครู
                                    <span></span>
                                </label>
                                <label class="m-radio" style="margin-left:20px">
                                    <input type="radio" id="ROLE_FB" name="ROLE_FB" value="2"> นักเรียน
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <div class="row form-group m-form__group m-login__form-sub">
                            <div class="col m--align-left">
                                <label class="m-checkbox m-checkbox--focus">
                                    <input type="checkbox" name="Agree" value="true" checked> I Agree the <a href="#" class="m-link m-link--focus">terms and conditions</a>

                                    <span></span>
                                </label>
                                <span class="m-form__help"></span>

                            </div>
                        </div>
                        <div class="m-login__form-action">
                            <button onclick="FacebookRegisterConfirm()" name="buttonType" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn">สมัครสมาชิก</button>&nbsp;&nbsp;
                            <button type='button' class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom  m-login__btn" data-dismiss='modal' aria-label='Close'>
                                <span aria-hidden='true'>ปิด</span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
