@model COACHME.MODEL.CUSTOM_MODELS.ResetPasswordModel
@{
    ViewBag.Title = "ResetPasswordForm";
}

<div class="m-grid m-grid--hor m-grid--root m-page">

    
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2" id="m_login" style="background-image: url(../../Content/images/bg-3.jpg);">
        <div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
            <div class="m-login__container">
                <div class="m-login__logo">
                    <a href="#">
                        <img src="~/Content/images/logo.png">
                    </a>
                </div>

                <!--Start SignUp -->
                <div class="m-login__signin">
                    @*m-login__signup">*@
                    <div class="m-login__head">
                        <h3 class="m-login__title">Reset Your Password</h3>
                    </div>
                    @using (Html.BeginForm("ResetPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Get, new { @class = "m-login__form m-form" }))
                    {
                        @Html.HiddenFor(m => m.TOKEN_HASH, new { @id = "TOKEN_HASH",@name = "TOKEN_HASH" })
                        @Html.HiddenFor(m => m.EMAIL, new { @id = "EMAIL", @name = "EMAIL" })
                        
                         <div class="form-group m-form__group">
                            <input class="form-control m-input" type="password" placeholder="Password" name="NEW_PASSWORD">
                        </div>
                        
                        <div class="form-group m-form__group">
                            <input class="form-control m-input m-login__form-input--last" type="password" placeholder="Confirm Password" name="CONFIRM_NEW_PASSWORD">
                            @Html.ValidationMessageFor(m=>m.CONFIRM_NEW_PASSWORD, "", new { @class = "text-danger" })
                        </div>
                        
                        <div class="m-login__form-action">
                            <button type="submit" value="Save" name="buttonType" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn">Reset Password</button>&nbsp;&nbsp;

                            <a href="@Url.Action("Login","Account")" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom  m-login__btn">Cancel</a>
                            @*<button type="button" value="Cancel" name="buttonType" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom  m-login__btn">
                                Cancel</button>*@
                        </div>
                    }
                </div>
                <!--End SignUp -->

            </div>
        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
