@model COACHME.MODEL.CUSTOM_MODELS.ResetPasswordValidateModel

@{
    ViewBag.Title = "ResetPasswordForm";
}
@{
    var data = ViewBag.Val;
}


<div class="m-grid m-grid--hor m-grid--root m-page">


    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2" id="m_login" style="background-image: url(../../Content/images/bg-3.jpg);">
        <div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
            <div class="m-login__container">
                <div class="m-login__logo">
                    <a href="#">
                        <img src="~/Content/images/logo.png">
                    </a>
                </div>


                <!--Start SignUp -->
                <div class="m-login__signin">
                    @*m-login__signup">*@
                    <div class="m-login__head">
                        <h3 class="m-login__title">Register new Coach Me account</h3>
                        <div class="m-login__desc">Enter your details to create your account:</div>
                    </div>
                    @using (Html.BeginForm("ResetPasswordForm", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Get, new { @class = "m-login__form m-form" }))
                    {
                        <div>
                           
                        </div>
                        <div class="form-group m-form__group">
                            @Html.LabelFor(m => m.USER_NAME)
                            <input class="form-control m-input" type="password" placeholder="Password" name="password">
                            @Html.ValidationMessageFor(m => m.PASSWORD, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group m-form__group">
                            <input class="form-control m-input m-login__form-input--last" type="password" placeholder="Confirm Password" name="ConfirmPassword">
                            @Html.ValidationMessageFor(m => m.PASSWORD, "", new { @class = "text-danger" })
                        </div>
                        <div class="m-login__form-action">
                            <button type="submit" value="Save" name="buttonType" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn">Sign Up</button>&nbsp;&nbsp;

                            <a href="@Url.Action("Login","Account")" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom  m-login__btn">Cancel</a>
                            @*<button type="button" value="Cancel" name="buttonType" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom  m-login__btn">
                                Cancel</button>*@
                        </div>
                    }
                </div>
                <!--End SignUp -->

            </div>
        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
