@model COACHME.MODEL.CUSTOM_MODELS.CONTAINER_MODEL
@using Newtonsoft.Json
@{
    ViewBag.Title = "FindStudent";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";

}
<div class="m-content">

    <div class="row">

        @foreach (var item in Model.LIST_MEMBERS)
            {
            <div class="modal fade" id="@("MODAL_" + item.AUTO_ID)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" style="display: none" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        @*<div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>*@
                        <div class="modal-body">

                            <div class="m-portlet__body">
                                <div class="m-demo__preview m-demo__preview--badge">
                                    <div class="m-divider">

                                        <span></span>
                                        <h3 class="m--font-info">
                                            <i class="fa fa-address-card"></i>
                                            <span>รายละเอียด</span>
                                        </h3>
                                        <span></span>

                                    </div>
                                </div>
                                <h4 class="m--font-bold m--font-bold">
                                    <span>
                                        <i class="fa fa-address-card"></i>
                                        <span> ชื่อ :  &nbsp @item.FULLNAME</span>
                                    </span>

                                </h4>
                                <h4 class="m--font-bold m--font-bold">

                                    <span>
                                        <i class="fa fa-male">&nbsp&nbsp</i>
                                        <span> เพศ :  @Url.Content(item.SEX == "1" ? "ชาย" : "หญิง")</span>
                                    </span>

                                </h4>
                                <h4 class="m--font-bold m--font-bold">

                                    <span>
                                        <i class="fa fa-user-circle"></i>
                                        <span> อายุ : &nbsp @item.AGE </span>
                                    </span>

                                </h4>

                                <h4 class="m--font-bold m--font-bold">

                                    <span>
                                        <i class="fa fa-location-arrow"></i>
                                        <span> สถานที่ : &nbsp @item.LOCATION </span>
                                    </span>

                                </h4>
                                <h4 class="m--font-bold m--font-bold">

                                    <span>
                                        <i class="fa fa-phone-square"></i>
                                        <span> เบอร์โทรศัพท์ : &nbsp @item.MOBILE </span>
                                    </span>

                                </h4>
                                <h4 class="m--font-bold m--font-bold">

                                    <span>
                                        <i class="fa fa-comment"></i>
                                        <span> อีเมลล์ : &nbsp @item.MEMBER_LOGON.Select(o => o.USER_NAME).FirstOrDefault() </span>
                                    </span>
                                </h4>
                                <br>
                                <div class="m-demo__preview m-demo__preview--badge">
                                    <div class="m-divider">

                                        <span></span>
                                        <h3 class="m--font-brand">
                                            <i class="fa fa-flag"></i>
                                            <span>คอร์สที่สนใจ</span>
                                        </h3>
                                        <span></span>

                                    </div>
                                </div>
                                <h4 class="m--font-bold m--font-bold">
                                    <span>
                                        <i class="fa fa-comment"></i>
                                        <span> @item.ABOUT  </span>
                                    </span>
                                </h4>

                            </div>




                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                    
                </div>
            </div>
        }


        @foreach (var item in Model.LIST_MEMBERS)
            {
            <div class="col-xl-3">
                <!--begin:: Widgets/Blog-->
                <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height  m-portlet--rounded-force">
                    <div class="m-portlet__head m-portlet__head--fit">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-action">
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="m-widget19">
                            <div class="m-widget19__pic m-portlet-fit--top m-portlet-fit--sides" style="min-height: 286px">
                                <img src="..//@Url.Content(@item.PROFILE_IMG_URL ?? "//Content//images//Blank-Profile.jpg") " style="height:300px">
                                <h3 class="m-widget19__title m--font-light">
                                    @item.FULLNAME
                                </h3>
                                <div class="m-widget19__shadow"></div>
                            </div>
                            <div class="m-widget19__content">
                                <div class="m-widget19__header">
                                    @*<div class="m-widget19__user-img">
                                            <img class="m-widget19__img" src="assets/app/media/img//users/user1.jpg" alt="">
                                        </div>
                                        <div class="m-widget19__info">
                                            <span class="m-widget19__username">
                                                @item.FULLNAME
                                            </span><br>
                                            <span class="m-widget19__time">
                                                @item.NICKNAME
                                            </span>
                                        </div>
                                        <div class="m-widget19__stats">
                                            <span class="m-widget19__number m--font-brand">
                                                @item.AGE
                                            </span>
                                            <span class="m-widget19__comment">

                                            </span>
                                        </div>*@
                                </div>
                                <div class="m-widget19__body">
                                    @*@item.ABOUT*@
                                </div>
                            </div>

                            <div class="m-widget7__button center">
                                <div class="row">
                                    <div class="col-lg-1 col-md-1 col-sm-1">
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-10 text-center">
                                        <button class="m-btn m-btn--pill btn btn-success">
                                            <span>
                                                <i class="fa fa-check-square"></i>
                                                <span>Accept</span>
                                            </span>
                                        </button>
                                        <button class="m-btn m-btn--pill btn btn-info" data-toggle="modal" data-target="#@("MODAL_" + item.AUTO_ID)">
                                            <span>
                                                <i class="fa flaticon-edit-1"></i>
                                                <span>Info</span>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end:: Widgets/Blog-->
            </div>
        }

        @if (TempData["NOADS"] == null)
        {
            <div class="col-xl-3">
                @using (Html.BeginForm("index", "purchase", FormMethod.Post))
                {
                    @Html.HiddenFor(m => m.MEMBERS.AUTO_ID, new { @id = "AUTO_ID", @name = "AUTO_ID" })
                    <div class="m-portlet m--bg-accent m-portlet--bordered-semi m-portlet--skin-dark m-portlet--full-height ">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        ADS
                                    </h3>
                                </div>
                            </div>
                            <div class="m-portlet__head-tools">
                                <ul class="m-portlet__nav">
                                    <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover">
                                        <a href="#" class="m-portlet__nav-link m-portlet__nav-link--icon m-portlet__nav-link--icon-xl">
                                            <i class="la la-ellipsis-h m--font-light"></i>
                                        </a>
                                        <div class="m-dropdown__wrapper">
                                            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                            <div class="m-dropdown__inner">
                                                <div class="m-dropdown__body">

                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <div class="m-widget7 m-widget7--skin-dark">
                                <div class="m-widget7__desc">
                                    มีนักเรียนอีกมากมายรอคุณอยู่ อัพเกรดแพ็คเกจของคุณสิ
                                </div>
                                <div class="m-widget7__user">
                                    <div class="m-widget7__user-img">
                                        <img class="m-widget7__img" src="./assets/app/media/img//users/100_3.jpg" alt="">
                                    </div>
                                    <div class="m-widget7__info">

                                    </div>
                                </div>
                                <div class="m-widget7__button">
                                    <button class="m-btn m-btn--pill btn btn-danger">
                                        <span>
                                            <i class="fa fa-crown"></i>
                                            <span> อัพเกรด</span>
                                        </span>
                                    </button>

                                </div>
                            </div>

                        </div>
                    </div>
                }
                <!--end:: Widgets/Blog-->
            </div>
        }




    </div>

</div>

<script>

</script>

