@model COACHME.MODEL.CUSTOM_MODELS.CONTAINER_MODEL
@using Newtonsoft.Json
@{
    ViewBag.Title = "FindStudent";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";

}
<div class="m-content">

    <div class="row">

        @foreach (var item in Model.LIST_MEMBERS)
            {
            <div class="modal fade" id="@("MODAL_" + item.AUTO_ID)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" style="display: none" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">รายละเอียดนักเรียน</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img src="..//@Url.Content(@item.PROFILE_IMG_URL ?? "\\Content\\images\\Blank-Profile.jpg")" class="rounded" style="height:150px;width:150px;margin-right:auto;margin-left:auto;display:block" alt="">

                            <div class="row" style="margin-top:10px">
                                <div class="col-6">

                                    <div class="form-group" style="margin-left:10px">
                                        <label for="recipient-name" class="form-control-label">ชื่อ:</label>
                                        <input type="text" class="form-control" id="recipient-name" placeholder="@item.FIRST_NAME" readonly>
                                    </div>
                                    <div class="form-group" style="margin-left:10px">
                                        <label for="recipient-name" class="form-control-label">ชื่อเล่น:</label>
                                        <input type="text" class="form-control" id="recipient-name" placeholder="@item.NICKNAME" readonly>
                                    </div>
                                    <div class="form-group" style="margin-left:10px">
                                        <label for="recipient-name" class="form-control-label">รายละเอียดเพิ่มเติม:</label>
                                        <input type="text" class="form-control" id="recipient-name" placeholder="@item.ABOUT" readonly>
                                    </div>
                                    <div class="form-group" style="margin-left:10px">
                                        <label for="recipient-name" class="form-control-label">เวลาที่สะดวกเรียน:</label>
                                        <input type="text" class="form-control" id="recipient-name" placeholder="17:00:00 - 20:00:00" readonly>
                                    </div>
                                    <div class="form-group" style="margin-left:10px">
                                        <label for="recipient-name" class="form-control-label">ไลน์:</label>
                                        <input type="text" class="form-control" id="recipient-name" placeholder="@item.MOBILE" readonly>
                                    </div>


                                </div>
                                <div class="col-6">

                                    <div class="form-group" style="margin-left:10px">
                                        <label for="recipient-name" class="form-control-label">นามสกุล:</label>
                                        <input type="text" class="form-control" id="recipient-name" placeholder="@item.LAST_NAME" readonly>
                                    </div>
                                    <div class="form-group" style="margin-left:10px">
                                        <label for="recipient-name" class="form-control-label">วิชาที่ต้องการเรียน:</label>
                                        <input type="text" class="form-control" id="recipient-name" placeholder="@item.MEMBER_ROLE.FirstOrDefault().AUTO_ID" readonly>
                                    </div>
                                    <div class="form-group" style="margin-left:10px">
                                        <label for="recipient-name" class="form-control-label">สถานที่:</label>
                                        <input type="text" class="form-control" id="recipient-name" placeholder="@item.LOCATION" readonly>
                                    </div>
                                    <div class="form-group" style="margin-left:10px">
                                        <label for="recipient-name" class="form-control-label">เบอร์ติดต่อ:</label>
                                        <input type="text" class="form-control" id="recipient-name" placeholder="@item.MOBILE" readonly>
                                    </div>
                                    <div class="form-group" style="margin-left:10px">
                                        <label for="recipient-name" class="form-control-label">อีเมลล์:</label>
                                        <input type="text" class="form-control" id="recipient-name" placeholder="@item.MEMBER_LOGON.FirstOrDefault().USER_NAME" readonly>
                                    </div>


                                </div>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Accept Student</button>
                        </div>
                    </div>
                </div>
            </div>
        }


        @foreach (var item in Model.LIST_MEMBERS)
            {
            <div class="col-xl-3">
                <!--begin:: Widgets/Blog-->
                <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height  m-portlet--rounded-force">
                    <div class="m-portlet__head m-portlet__head--fit">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-action">
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="m-widget19">
                            <div class="m-widget19__pic m-portlet-fit--top m-portlet-fit--sides" style="min-height: 286px">
                                <img src="..//@Url.Content(@item.PROFILE_IMG_URL ?? "\\Content\\images\\Blank-Profile.jpg")" style="height:350px">
                                <h3 class="m-widget19__title m--font-light">
                                    @item.FULLNAME
                                </h3>
                                <div class="m-widget19__shadow"></div>
                            </div>
                            <div class="m-widget19__content">
                                <div class="m-widget19__header">
                                    <div class="m-widget19__user-img">
                                        <img class="m-widget19__img" src="assets/app/media/img//users/user1.jpg" alt="">
                                    </div>
                                    <div class="m-widget19__info">
                                        <span class="m-widget19__username">
                                            @item.FULLNAME
                                        </span><br>
                                        <span class="m-widget19__time">
                                            @item.NICKNAME
                                        </span>
                                    </div>
                                    <div class="m-widget19__stats">
                                        <span class="m-widget19__number m--font-brand">
                                            @item.AGE
                                        </span>
                                        <span class="m-widget19__comment">
                                            
                                        </span>
                                    </div>
                                </div>
                                <div class="m-widget19__body">
                                    @item.ABOUT
                                </div>
                            </div>
                            <div class="m-widget19__action">
                                <button class="btn btn-info m-btn  	m-btn m-btn--icon m-btn--pill">
                                    <span>
                                        <i class="fa flaticon-edit-1"></i>
                                        <span>Infomation</span>
                                    </span>
                                </button>
                                <button class="btn btn-danger m-btn  	m-btn m-btn--icon m-btn--pill">
                                    <span>
                                        <i class="fa flaticon-edit-1"></i>
                                        <span>Match</span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end:: Widgets/Blog-->
            </div>
        }

        <div class="col-xl-3">
            @using (Html.BeginForm("index", "purchase", FormMethod.Post))
            {
                <!--begin:: Widgets/Blog-->
                <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height  m-portlet--rounded-force">
                    <div class="m-portlet__head m-portlet__head--fit">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-action">
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="m-widget19" >
                            <div class="m-widget19__pic m-portlet-fit--top m-portlet-fit--sides" style="min-height: 286px">
                                <img src="~/Content/images/Profile/NATCHAPHON2140@GMAIL.COM/6.jpg" alt="">
                                <h3 class="m-widget19__title m--font-bold" style="color:black"></h3>
                                <div class="m-widget19__shadow"></div>
                            </div>
                            <div class="m-widget19__content">
                                <div class="m-widget19__header">
                                    <div class="m-widget19__user-img">
                                        <img class="m-widget19__img" src="assets/app/media/img//users/user1.jpg" alt="">
                                    </div>
                                    <div class="m-widget19__info">
                                        <span class="m-widget19__username">

                                        </span><br>
                                        <span class="m-widget19__time">
                                            UX/UI Designer, Google
                                        </span>
                                    </div>
                                    <div class="m-widget19__stats">
                                        <span class="m-widget19__number m--font-brand">

                                        </span>
                                        <span class="m-widget19__comment">
                                        </span>
                                    </div>
                                </div>
                                <div class="m-widget19__body">
                                    <h3> อัพเกรดเพื่อดูนักเรียนแบบไม่จำกัด</h3>
                                    <br>
                                    Basic Plan
                                    <br>
                                    Professional Plan
                                    <br>
                                    Advance Plan
                                    <br>


                                </div>
                            </div>
                            <div class="m-widget19__action">
                                <button type="submit" class="btn m-btn--pill    btn-primary btn-lg">Upgrade!!!</button>
                            </div>
                        </div>
                    </div>
                </div>

            }
            <!--end:: Widgets/Blog-->
        </div>




    </div>

</div>

<script>

</script>

